
h1{
    width:fit-content;
    font-family: 'Lobster', cursive;
}

}
h4{
    width:fit-content;

}
h2{
font-family: 'Anton', sans-serif;
font-size: 200%;
width: fit-content;
}

p{
    font-family: 'Barlow Condensed', sans-serif;
    color:rgba(0, 0, 0, 0.842);
    width:40%;
}

body{
background-color:rgba(0, 0, 0, 0.048);
width: 960px;

}

#delicious h1, h4 {
    position: absolute;

}

#del {
    top: 2px;
    left: 60px;
    margin: 0px;
    font-size: 250%;
}

#bestfood {
    top: 35px;
    font-size: 50%;
    left: 60px;
}

#logos {
    width: fit-content;
    position: relative;
    top: 25%;
    left: 74%;
    border: none; 

}

#print {
    position: absolute;
    left: 900px;
    top: 150px;
}

#printtext {
    position: absolute;
    left: 900px;
    top: 150px;
}

#choco {
    width: 100%;

}
.bodyCopy{
    width: 100%;
    hyphens: auto;
    text-indent: 20px;
    line-height: 1.7em;
}

form{
    font-family: 'Patrick Hand', cursive;
    color:rgb(56, 54, 54);
    background-image: url("img/list-bg.png");
    width: 100%;
    height: fit-content;
    display: flex;
    text-align: left;
}
input[type="checkbox"]{
    margin: 1em;
    border: 10px;
    display: block;

}
label{
    float: right;
}


#left{
    flex: left;
    border: 2em;
    padding: 2em;
}
    
#right{
    flex: right;
    border: 2em;
    padding: 2em;
}